.button {
  font-size: 18px;
  padding: 8px 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--black);
}

.primary {
  color: var(--white);
  background-color: var(--black);
}

.ghost {
  color: var(--black);
  background-color: var(--white);
}

.fullWidth {
  width: 100%;
}

.medium {
  font-size: 20px;
  padding: 10px 32px;
}

.big {
  padding: 13px 34px;
}