.pagination {
  background-color: var(--white);
  box-shadow: -1px 4px 13px 0px rgba(0, 0, 0, 0.25);
  max-width: 300px;
  padding: 4px 8px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  gap: 8px;

  &Item {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s;
  }

  &ItemActive {
    background-color: var(--black);
    color: var(--white);
  }

  &ItemLink:hover {
    background-color: var(--black);
    color: var(--white);
  }

  &Dots {
    margin-top: -4px;
    position: relative;
  }

  &Dots::before, &Dots::after {
    content: "";
    position: absolute;
    height: 8px;
    width: 2px;
    left: 0;
    top: 50%;
    background-color: var(--black);
  }

  &Dots::after {
    right: 0;
    left: auto;
  }
}