.product {
  width: 100%;
  background-color: var(--white);
  padding-bottom: 24px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--gray);

  &Sale {
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--black);
    color: var(--white);
    font-size: 13px;
    font-weight: 400;
    padding: 3px 4px;
  }

  &Content {
    display: flex;
    align-items: center;
  }

  &Img {
    border-radius: 4px;
  }

  &Name {
    font-size: 18px;
    font-weight: 400;
    margin-left: 24px;
  }
  
  &Counters {
    display: flex;
    align-items: center;
  }
}

.price {
  font-size: 24px;
  font-weight: 400;
}

.deleteButton {
  color: #9E9E9E;
  border-bottom: 1.5px dashed #9E9E9E;
  margin-left: 27px;
  font-size: 12px;
}