.product {
  width: 100%;
  background-color: var(--white);
  padding-bottom: 24px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--gray);

  &Counter {
    margin-right: 95px;
  }

  &Sale {
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--black);
    color: var(--white);
    font-size: 13px;
    font-weight: 400;
    padding: 3px 4px;
  }

  &Content {
    display: flex;
    align-items: center;
  }

  &Img {
    border-radius: 4px;
    object-fit: cover;
  }

  &Name {
    font-size: 18px;
    font-weight: 400;
    margin-left: 24px;
  }
  
  &Counters {
    display: flex;
    align-items: center;
  }
}

.price {
  font-size: 24px;
  font-weight: 400;
  text-wrap: nowrap;
}

.deleteButton {
  color: #9E9E9E;
  border-bottom: 1.5px dashed #9E9E9E;
  margin-left: 27px;
  font-size: 12px;
}

@media screen and (max-width: 768px) {
  .product {
    display: block;

    &Counters {
      margin-top: 15px;
      width: 100%;
      justify-content: space-between;
      gap: 30px;
      flex-wrap: wrap;
    }

    &Counter {
      margin-right: 0;
    }

    &Price {
      margin-right: auto;
    }
  }

  .deleteButton {
    margin: 0;
  }
}

@media screen and (max-width: 400px) {
  .product {
    &Content {
      display: block;
    }

    &Name {
      margin: 15px 0 0 0;
    }
  }
}