.header {
  &Top {
    background-color: var(--black);
    color: var(--white);
    padding: 12px 0;
  }

  &TopInner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &Bottom {
    color: var(--black);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.10);
    padding: 12px 0;
  }

  &BottomInner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.city {
  display: flex;
  align-items: center;

  button {
    font-size: 16px;
    font-weight: 600;
    margin-left: 8px;
    border-bottom: 1px solid var(--white);
  }
}

.list {
  display: flex;
  align-items: center;

  &Item {
    font-size: 16px;
    transition: all .5s;
    border-bottom: 1px solid transparent;
  }

  &Item:hover {
    border-bottom-color: var(--white);
  }

  &Item + .listItem {
    margin-left: 52px;
  }
}

.phone {
  display: flex;
  align-items: center;

  a {
    margin-left: 8px;
    font-size: 18px;
    font-weight: 600;
  }
}

.userNav {
  display: flex;
  align-items: center;

  &Link {
    width: 50px;
    height: 50px;
    background-color: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &Link + .userNavLink {
    margin-left: 23px;
  }
}

.sign {
  display: flex;
  align-items: center;

  &Button + .signButton {
    margin-left: 26px;
  }
}

.panel {
  right: -76px;
}

.burger {
  width: 50px;
  height: 50px;
  background-color: var(--black);
  gap: 8px;
  padding: 10px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  display: none;

  span {
    width: 30px;
    height: 3px;
    background-color: var(--white);
  }
}

@media screen and (max-width: 961px) {
  .userNav {
    justify-content: center;
    margin-bottom: 20px;
  }

  .list {
    display: block;
    text-align: center;
    color: var(--black);
    max-width: 480px;
    width: 100%;
  }

  .listItem {
    font-size: 19px;
    padding: 5px 0;
  }

  .listItem:hover {
    border-bottom-color: var(--black);
  }

  .listItem + .listItem {
    margin-left: 0;
    margin-top: 10px;
  }

  .burger {
    display: flex;
  }
}

@media screen and (max-width: 768px) {
  .headerBottomInner {
    flex-wrap: wrap;
    gap: 15px;
  }

  .header .search {
    display: block;
    max-width: 100%;
    width: 100%;  
    order: 1;
  }

  .logo {
    max-width: 135px;
    width: 100%;

    img {
      width: 100%;
    }
  }
}

@media screen and (max-width: 400px) {
  .headerTopInner {
    gap: 15px;
    flex-wrap: wrap;
  }

  .phone {
    a {
      font-size: 16px;
    }
  }
}