.slider {
  max-width: 648px;
  width: 100%;

  &Img img {
    object-fit: cover;
    border-radius: 4px;
  }

  &Thumbs {
    margin-top: 16px;
  }

  &Thumb img {
    object-fit: cover;
    border-radius: 4px;
    cursor: pointer;
  }
}

@media screen and (max-width: 768px) {
  .slider {
    &Big {
      height: 398px;
    }
  }
}

@media screen and (max-width: 640px) {
  .slider {
    &Big {
      height: 250px;
    }

    &Img img {
      object-fit: cover;
      height: 250px;
    }
  }
}
