.search {
  position: relative;
  max-width: 550px;

  &Input {
    width: 100%;
    padding: 8px 80px 8px 15px;
    border: none;
    border-bottom: 2px solid var(--black);
    font-size: 17px;
  }

  &Input::placeholder {
    color: var(--dark-gray);
  }

  &Button {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
  }

  &Clear {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
    svg {
      width: 16px;
      height: 16px;
    }
  }
}
