.counter {
  position: relative;

  &Item {
    display: inline-block;
    width: 88px;
    text-align: center;
    border: 1px solid var(--black);
    padding: 5px 25px;
    font-size: 14px;
  }

  &Button {
    position: absolute;
    display: flex;
    align-items: center;
    left: 4px;
    top: 50%;
    transform: translateY(-50%);
  }

  &Plus {
    left: auto;
    right: 4px;
  }
}
