.orders {
  &Inner {
    padding: 47px 67px 77px 54px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
  }

  &Items {
    width: 100%;
    margin-left: 95px;
  }

  &NotFoundTitle {
    text-align: center;

    &::after {
      display: none;
    }
  }
}

.order + .order {
  margin-top: 72px;
}

.loader {
  text-align: center;
}

@media screen and (max-width: 1100px) {
  .orders {
    &Inner {
      padding: 0;
      box-shadow: none;
      display: block;
    }

    &Items {
      margin-left: 0;
    }
  }
}
