.filter {
  padding: 24px 16px;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.10);
  max-width: 371px;
  width: 100%;
  align-self: flex-start;
  // position: sticky;
  // top: 45px;
  background-color: var(--white);

  &Buttons {
    margin-top: 32px;
  }

  &Button + .filterButton {
    margin-top: 25px;
  }
}

.title {
  margin-bottom: 12px;
}

.filterBlock {
  position: relative;
  padding-top: 25px;
  
  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 1px;
    background-color: var(--gray);
    width: 100%;
  }

  &Top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }

  &Content {
    margin-top: 12px;
    padding-bottom: 25px;
  }

  &Inputs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    margin-bottom: 25px;
  }

  &Input {
    padding: 10px 12px;
    width: 135px;
    border: 1px solid var(--gray);
    font-size: 14px;
  }

  &Input::-webkit-outer-spin-button,
  &Input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  &Line {
    width: 11px;
    height: 1px;
    background-color: var(--dark-gray);
  }
}

.selectButton {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 12px;
}

.select {
  max-height: 300px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    background-color: var(--gray);
    width: 8px;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--dark-gray);
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #6d6a6a;
  }

  &Item + .selectItem {
    margin-top: 8px;
  }
}

.range {
  &Track {
    height: 5px;
    background-color: var(--black);
    border-radius: 8px;
    opacity: .6;
  }

  &Track:nth-child(2) {
    opacity: 1;
  }

  &Thumb {
    width: 20px;
    height: 20px;
    border: 4px solid var(--black);
    border-radius: 50%;
    top: -7px;
    background-color: var(--white);
    cursor: e-resize;
  }
}

@media screen and (max-width: 1280px) {
  .filter {
    // max-width: 100%;
    margin-bottom: 35px;
  }
}