.button {
  font-size: 18px;
  padding: 8px 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--black);
}

.primary {
  color: var(--white);
  background-color: var(--black);
}

.ghost {
  color: var(--black);
  background-color: var(--white);
}

.disabled {
  color: var(--disabled);
  background-color: var(--light-gray);
  border-color: var(--light-gray);
  cursor: default;
}

.fullWidth {
  width: 100%;
}

.medium {
  font-size: 20px;
  padding: 10px 32px;
}

.big {
  padding: 15px 34px;
  font-size: 20px;
  min-width: 280px;
}

@media screen and (max-width: 400px) {
  .big {
    min-width: 100%;
    font-size: 19px;
    padding: 12px 28px;
  }
}